*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    height: 50vh;
    display: grid;
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr;  
    border: 1px solid black;
    margin-left: 20%;
    margin-top: 5%;
}
.buton{
    background-color: aqua;
}
#sonuc{
    background-color: red;
    color: white;
    text-align: center;
    font-size: 35px;
    margin-top: 5%;    
}
a{
    text-decoration: none;
    font-size: 25px;
    margin-left: 45%;
    color: chocolate;
}